@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@font-face {
  font-family: FiraCode;
  src: url(../font/FiraCode.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 15, 15);
  
}

#MainBoxShadow {
  width: 1366px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
          box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  margin: auto;
  background: rgb(40, 44, 51);
}
#MainBoxShadow #LineMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-left: 15px;
}
#MainBoxShadow #LineMedia #Line {
  width: 1px;
  height: 190px;
  background: rgb(171, 178, 191);
}
#MainBoxShadow #LineMedia img {
  width: 32px;
  height: 32px;
}
#MainBoxShadow #MainBox {
  width: 1024px;
  margin: auto;
}
#MainBoxShadow #MainBox header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#MainBoxShadow #MainBox header nav #Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#MainBoxShadow #MainBox header nav #Logo img {
  width: 72px;
}
#MainBoxShadow #MainBox header nav #Logo span {
  color: rgb(171, 178, 191);
  font-family: Comfortaa;
  font-weight: 900;
  font-size: 20px;
}
#MainBoxShadow #MainBox header nav #NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
#MainBoxShadow #MainBox header nav #NavBar .NavLink {
  color: rgb(171, 178, 191);
  font-family: FiraCode;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
}
#MainBoxShadow #MainBox header nav #NavBar .NavLink span {
  color: rgb(199, 120, 221);
}


main {
  margin-top: 175px;
  цш
}

#MainName {
  
  
}

#Avatar {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  width: 300px;
  height: 300px;
  border: 1px solid rgb(171, 178, 191);
  border-radius: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}


#NameBox {
  padding-bottom: 50px;

  display: flex;
  margin: auto;
  width: 1366px;
  justify-content: center;
  align-items: center;
  gap: 183px;
}



#NameHello {
  font-size: 20px;
  font-weight: 700;
  padding: 8px; 
  color: rgb(199, 120, 221); 
  
  background: #7B4AE21A; 
  border-radius: 24px; 
  text-align: center;
  
}

#NameText {
  color: rgb(171, 178, 191);
  font-size: 52px;
  font-weight: 800;
  
}

#NameBoxText {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255,0.6);
  border-radius: 16px;
  background-color: rgb(40, 44, 51);
  height: 300px;
  text-align: center;
  font-family: FiraCode;
 
  border-left: none;
  border-right: none;
}

#NameFooter {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  width: 411.33px;
  height: 37px;
}

#MainInformation #InformationLeftBox #InformationmMiddleBox #InformationRightBox {
  border: 1px solid ;
}

#MainInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}

#InformationWrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;

  padding: 100px 0px;
  gap: 100px;

}

#InformationBox {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 80px; 
  width: 1366px;
}


#InformationLeftBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  width: 246px;
  height: 200px;
  border: 1px solid rgba(230, 229, 232, 0.5);
  border-radius: 16px;
  background-color: rgb(40, 44, 51);
  border-left: none;
  border-right: none;
  border-top: none;
}

#InformationmMiddleBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  width: 246px;
  height: 200px;
  border: 1px solid rgba(230, 229, 232, 0.5);
  border-radius: 16px;
  border-left: none;
  border-right: none;
  border-top: none;
}

#InformationRightBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  width: 246px;
  height: 200px;
  border: 1px solid rgba(230, 229, 232, 0.5);
  border-radius: 16px;
  background-color: rgb(40, 44, 51);
  border-left: none;
  border-right: none;
  border-top: none;
}

#InformationBottomBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  border: 1px solid rgba(230, 229, 232, 0.5);
  width: 898px;
  height: 110px;
  border-radius: 16px;
  border-left: none;
  border-right: none;
  border-top: none;
}

#MainSkills {
  height: 863px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#SkillBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  border: 1px solid rgba(255, 255, 255,0.6);

  border-radius: 16px;
  height: 583px;
  width: 896px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

}

.SkillTittle {   
  font-size: 20px;
  font-weight: 700;
  color: rgba(199, 120, 221, 0.8); 
  padding: 4px;
  border-radius: 16px;
  background: #7B4AE21A; 
  
}

.SkillText {
  font-size: 48px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}

#SkillTextBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#LanguagesBox {

}

#LanguagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.LanguagesText {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);

}

#LanguagesIcons {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}

#NavFooter {
  margin: auto;

}

#NavFooterBox {
  -webkit-box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  box-shadow: 0px 0px 41px 10px rgba(111, 122, 131, 0.8);
  margin: auto;
  background-color: red;
  width: 1366px;
  height: 50px;
  background: rgb(40, 44, 51);

}

#Contacs {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ContatosBox {
  margin: auto;
  width: 663px;
  height: 447px;
  text-align: center;
  margin-top: 20px;
  gap: 80px;
  display: flex;
  flex-direction: column;
}
#Contatos {

  font-size: 20px;
  font-weight: 700;
  padding: 8px; 
  color: rgb(199, 120, 221); 
  
  background: #7B4AE21A; 
  border-radius: 24px; 
  text-align: center;
}

#ContatosTittle {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 800;

}

#Whatsapp {
  font-size: 20px;
  font-weight: 600;
  border-radius: 16px;
  border: 1px solid ;
  border-color: rgba(123, 74, 226, 0.5);
  width: 246px;
  height: 60px;
  text-align: center;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

#ContatosTittleBox { 
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}

#WhatsappLink {
  text-decoration: none;
}

#WhatsappBox {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 80px;
}

#Email {
  color: rgba(123, 74, 226, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  height: 105px;

}

#NavText {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
  padding-top: 12px;
  margin-left: 146px;
  display: flex;
  align-items: center;
}

image {

}




